
@{
    ViewData["Title"] = "Zamówienia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Zamówienia</h1>

    <div class="row" style="margin-left: auto; margin-right: auto; text-align: center;">
        <img src="https://image.flaticon.com/icons/svg/2945/2945571.svg" width="20px;" />  <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="MyOrders">Moje zamówienia</a>
    </div>

    <div class="row" style="margin-left: auto; margin-right: auto; text-align: center;">
        <img src="https://image.flaticon.com/icons/svg/2948/2948176.svg" width="20px;" /> <a class="nav-link text-dark" asp-area="" asp-controller="Addresses" asp-action="Index">Adresy</a>
    </div>