@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a>Ta aplikacja jeszcze nie oferuje zmiany hasła poprzez wysłanie na email, ale już niedługo zostanie taka funkcja dodana - wróć do nas niedługo!</a>
</p>
    }
    else
    {
<p>
        Sprawdź swój email, aby potwierdzić konto.
</p>
    }
}
