@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie resetu hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Twoje hasło zostało zmienione. Kliknij <a asp-page="./Login">tutaj by się zalogować. </a>.
</p>
